<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <!-- The arch tests and mPDF (PDF rendering) need more than the 128M CLI default. -->
        <ini name="memory_limit" value="1G"/>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_LOCALE" value="ar" force="true"/>
        <env name="APP_FALLBACK_LOCALE" value="en" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="pgsql" force="true"/>
        <env name="DB_HOST" value="/tmp" force="true"/>
        <env name="DB_DATABASE" value="bafo_test"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="REDIS_PREFIX" value="bafo-test-"/>
        <env name="PAYMENT_GATEWAY" value="fake" force="true"/>
        <env name="EINVOICING_DRIVER" value="fake" force="true"/>
        <env name="PUSH_DRIVER" value="log" force="true"/>
        <env name="PDF_DRIVER" value="mpdf" force="true"/>
        <env name="OTP_FAKE_CODE" value="123456" force="true"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
